<div class="ms-input-shell" [class.invalid]="invalid()">
    <ng-container *ngTemplateOutlet="beforeInputTemplate()" />

    @if (icon()) {
    <span class="ms-input-icon" aria-hidden="true">
        <img [src]="icon()!" [alt]="iconAlt()" />
    </span>
    } @else if (prefixIcon()) {
    <span class="material-symbols-outlined ms-input-icon ms-input-icon--symbol" aria-hidden="true">
        {{ prefixIcon() }}
    </span>
    }

    <input
        [id]="id()"
        [name]="name()"
        [type]="type()"
        [attr.autocomplete]="autocomplete() || null"
        [attr.inputmode]="inputMode() || null"
        [placeholder]="placeholder()"
        [disabled]="isDisabled"
        [tabIndex]="tabIndex()"
        [readonly]="readonly()"
        [hidden]="hidden()"
        [class.invalid]="invalid()"
        [attr.aria-invalid]="invalid()"
        [value]="value()"
        [class.has-left-icon]="!!icon() || !!prefixIcon()"
        [class.has-right-action]="!!actionIcon() || !!afterInputTemplate() || canClear()"
        (input)="onInput($event)"
        (focus)="onFocus()"
        (blur)="onBlur()"
    />

    @if (canClear()) {
    <button
        type="button"
        class="ms-input-action"
        data-testid="clear-input"
        [attr.aria-label]="clearAriaLabel()"
        (click)="clearValue()"
    >
        <span class="material-symbols-outlined" aria-hidden="true">close</span>
    </button>
    } @else if (actionIcon()) {
    <button
        type="button"
        class="ms-input-action"
        [disabled]="actionDisabled() || isDisabled"
        [attr.aria-label]="actionAriaLabel()"
        (click)="action.emit()"
    >
        <img [src]="actionIcon()!" alt="" aria-hidden="true" />
    </button>
    } @if (afterInputTemplate()) {
    <ng-container *ngTemplateOutlet="afterInputTemplate()" />
    }
</div>
